<% if user_signed_in? && !current_user.church.present? %>
    <h2>
      Ups aun no has creado tu iglesia:</h2>
    <% @church = Church.new %>
    <%= render 'churches/form' %>
<% else %>
    <div class="jumbotron">
      <h1>Bienvenido a la Union de Iglesias Cristianas</h1>
      <p>Aun no esta tu iglesia? registralo ahora</p>
      <% if !current_user.church.present? %>
      <p>
        <%= link_to "Registrar mi iglesia", new_registration_path(User), class: 'btn btn-lg btn-primary', role: "button" %>
        <br/>
      </p>
      <% end %>
    </div>
<% end %>




