<div class="text-center">
  <h1>Bienvenido a la Union de Iglesias Cristianas</h1>
  <p>Esta pagina esta en construccion, pronto tendremos mas noticias</p>
  <p>Si quieres saber mas escribenos un correo  a <b>iverlandth@gmail.com</b></p>
  <div>
    <%= image_tag 'abstracto.jpg'%>
  </div>
</div>


