<header>
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-3">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/">CIIC</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-3">
      <ul class="nav navbar-nav">
        <li><a href="/"> Inicio </a></li>
        <li class="active"><a href="#">Acerca de</a></li>
        <li><a href="#">Contáctenos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <%= link_to('Salir', destroy_user_session_path, method: :delete, class: 'btn btn-danger navbar-btn btn-sm') %>
        <% else %>
            <%= link_to "Registrarse", new_registration_path(User), class: 'btn btn-info navbar-btn btn-sm' %>
            <%= link_to 'Ingresar', new_user_session_path, class: 'btn btn-primary navbar-btn btn-sm' %>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

</header>